  /**********Imports**********/
  @import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
  /**********General Elements**********/
  :root {
    --primary-font: 'Cookie', cursive;
    --secondary-font: 'Abel', sans-serif;
  }

  html {
    overflow-x: hidden !important;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
  }

  header h2 {
    border-color: #333;
    color: #333;
  }

  h2 {
    border-bottom: solid #fff 0.2rem;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
  }

  hr {
    background: #fff;
    color: #fff;
    height: 0.2rem;
  }

  ul {
    margin-bottom: 3rem;
  }

  ul:hover {
    cursor: pointer;
  }

  li {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    list-style-type: none;
  }

  /****************IDs**************/

  #add-bill {
    position: absolute;
    top: 10rem;
    width: 100%;
    z-index: 3;
  }

  #AllBills {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #AllBills .bills-list {
    background: #fff;
    border-radius: 3rem;
    border: 3px solid #555;
    padding: 3rem;
    margin: 8rem 0rem;
    text-align: right;
  }

  #AllBills .bills-list:hover {
    transform: scale(1.1);
  }

  #AllBills .container {
    padding: 0 3rem;
    width: 100%;
  }

  #AllBills .number {
    background: #333;
    border-radius: 3rem;
    margin-left: 0.5rem;
    padding: 1rem;
  }

  #AllBills .number, #AllBills .text {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    top: -8rem;
  }

  #AllBills .price {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  #AllBills .text {
    background: #333;
    border-radius: 3rem;
    margin-right: 12rem;
    padding: 1rem;
  }

  #AllBills .total-bills {
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    width: 100%;
  }

  #bills-app {
    height: 100%;
  }

  #floating-menu {
    background: #fff;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    position: fixed;
    top: 80%;
    width: 100%;
  }

  #floating-menu div {
    display: inline-block;
  }

  #floating-menu div:hover {
    color: aqua;
  }

  #floating-menu div:last-child:hover {
    color: #fff;
  }

  #floating-menu i {
    font-size: 3rem;
    margin: 1rem 2rem;
  }

  #floating-menu .link:hover, #floating-menu .add-button:hover {
    cursor: pointer;
  }


  /****************Classes**************/

  .add-button {
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 80px;
    margin-left: 2rem;
    width: 110px;
  }

  .recent-transactions h2 {
    font-family: var(--secondary-font) !important;
    margin-bottom: 2rem;
  }


  /****************Media Queries**************/


  @media only screen and (min-width: 320px) and (max-width: 480px)
  {

    #AllBills .number, #AllBills .text {
      height: 100%;
      position: relative;
      top: -2rem;
    }

    #AllBills .text {
      background: #333;
      border-radius: 3rem;
      margin-right: 0rem;
      padding: 1rem;
    }

  }

  @media only screen and (min-width: 320px) and (max-width: 600px)
  {

    #AllBills .bills-list:hover {
      transform: scale(1.0);
    }

    #floating-menu {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax( 320px, 1fr ) );
      position: relative;
    }

  }
